/* Remove Browser Default Styling */
/* the * acts as a select all*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

/* CSS Variables */
:root {
  --white: #e9f0fd;
  --cream: #f0dfc5;
  --warm-grey: #867365;
  --blue-green: #437d92;
  --blue-green-rovr: #069da2;
  --bright-red: #ba0001;
  --cherry-red: #7d0001;
  --subtle-red: #a4262c;
  --orange-red: #b33f32;
  --deep-orange-red: #862f26;
  --light-blue-green: #4f869a;
  --bright-blue-green: #038387;
  --mid-green: #1e9b53;
  --purple: #26232c;
  --bright-green: #09212d;
  --blue: #0078d4;
  --blue-rovr: #1f9bf9;
  --brown: #201014;
  --lime: #deeeae;
  --sage: #909b7e;
  --gradient: linear-gradient(
    90deg,
    rgba(255, 105, 0) 100%,
    rgb(207, 46, 46) 100%
  );
}

::placeholder {
  color: black;
  opacity: 1;
}

html {
  background: #201014;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-top: 10vh;
}

.container {
  background: var(--warm);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 465px;
  width: 350px;
  box-shadow: -3px -2px 6px #6c6565, 7px 9px 25px #0b0b0b;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 30px;
  border: 2px solid #e1dede69;
  border-radius: 5px;
  background: #ffd967;
  color: black;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.form-item-username {
  margin: 5px;
  display: flex;
  padding-bottom: 10px;
}

.form-item-username input {
  width: 150px;
  margin: 0 5px;
}

.form-item {
  margin: 0 auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.form-item input {
  margin: 5px;
  width: 100%;
}

.accept-box {
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 15px;
}

a {
  color: white;
}

a:hover {
  color: grey;
}

.form-btns {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.form-btns button {
  margin: auto;
  font-size: 20px;
  padding: 8px;
  width: 280px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(75, 61, 61);
  background: #fbba50;
}

.form-btns button:disabled {
  cursor: not-allowed;
  background: #8f8b85 !important;
  color: rgb(131, 120, 120) !important;
}

.form-btns button:hover {
  background: #d88a0c;
  color: antiquewhite;
}

.options {
  padding-top: 15px;
  margin: auto;
  font-size: 13px;
}

p {
  font-size: 12px;
}

.pwd-format {
  position: relative;
  color: rgb(65, 62, 62);
  background: rgb(243, 234, 243);
  font-size: 11px;
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  top: 112px;
  right: -81px;
  z-index: 2;
  display: none;
}
