/* Remove Browser Default Styling */
/* the * acts as a select all*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

/* CSS Variables */
:root {
  --white: #e9f0fd;
  --cream: #f0dfc5;
  --warm-grey: #867365;
  --blue-green: #437d92;
  --blue-green-rovr: #069da2;
  --bright-red: #ba0001;
  --cherry-red: #7d0001;
  --subtle-red: #a4262c;
  --orange-red: #b33f32;
  --deep-orange-red: #862f26;
  --light-blue-green: #4f869a;
  --bright-blue-green: #038387;
  --mid-green: #1e9b53;
  --purple: #26232c;
  --bright-green: #09212d;
  --blue: #0078d4;
  --blue-rovr: #1f9bf9;
  --brown: #201014;
  --lime: #deeeae;
  --sage: #909b7e;
  --gradient: linear-gradient(
    135deg,
    rgba(255, 105, 0) 100%,
    rgb(207, 46, 46) 100%
  );
}

/* POPUP LOGIN */

.center {
  display: flex;
  position: absolute;
  left: 98%;
  top: 7.75vh;
  transform: translate(-50%, -50%);
}

.center button {
  display: block;
  outline: none !important;
  height: 40px;
  width: 225px;
  font-family: "Zilla Slab", serif;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  font-weight: bold;
  text-align: center;
  line-height: 0.5em;
  color: var(--brown);
  border: 0;
  border-radius: 5px;
  background-color: #ffc107;
  padding: 12px 15px 10px 15px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25); */
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center button:hover {
  background-color: #face4b;
  color: var(--brown);
  border: 0;
}

.popup {
  position: fixed;
  top: -150%;
  left: 15%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 300px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}

.popup.active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}

.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.popup .form h2 {
  text-align: center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
}

.popup .form .form-element {
  margin: 15px 0px;
}

.popup .form .form-element label {
  font-size: 14px;
  color: #222;
}

.popup .form .form-element input [type="text"],
.popup .form .form-element input [type="password"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"] {
  margin-right: 5px;
}

.popup .form .form-element button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  background: #222;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}

.popup .form .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #1a79ca;
  text-decoration: none;
  font-weight: 600;
}

.login {
  position: absolute;
  left: 85%;
  color: white;
  padding-top: 3.6vh;
  font-family: "Zilla Slab", serif;
  font-size: clamp(0.75rem, 4vw, 1.5rem);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.login:hover {
  color: var(--brown);
}

.deco {
  position: absolute;
  padding-left: 4.8vw;
  left: 85%;
  color: var(--brown);
  padding-top: 3.6vh;
  font-family: "Zilla Slab", serif;
  font-size: clamp(0.75rem, 4vw, 1.5rem);
  font-weight: bold;
}

.signup {
  position: absolute;
  padding-left: 6.25vw;
  left: 85%;
  color: white;
  padding-top: 3.6vh;
  font-family: "Zilla Slab", serif;
  font-size: clamp(0.75rem, 4vw, 1.5rem);
  font-weight: bold;
}

.signup:hover {
  color: var(--brown);
}

/* Menu */
.homebutton {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-nav {
  background-color: var(--bright-red);
  height: 11vh;
  color: var(--brown);
  padding-left: 20px;
  padding-top: 0px;
}

.sidenav {
  flex-wrap: wrap;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  margin: auto;
  padding: 0;
  background-color: var(--lime);
  font-family: "Zilla Slab", serif;
  font-size: clamp(0.75rem, 4vw, 1.5rem);
  font-weight: bold;
  text-decoration: none;
  overflow-x: hidden;
  transition: 600ms;
  transition-timing-function: ease-in-out;
  padding-top: 60px;
  z-index: 1000;
}

.sidenav a {
  color: var(--brown);
  display: block;
  transition: 600ms;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}

.sidenav a:hover {
  color: var(--bright-red);
  text-decoration: none;
  overflow: hidden;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 45px;
  margin-left: 0px;
}

.item {
  margin-left: 40px;
}

.row {
  padding-left: 55px;
  padding-top: 8px;
  columns: 3;
  column-gap: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* Index Page Background*/
.background {
  flex-wrap: wrap;
  column-count: 1;
  column-gap: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
}

/* Logo */
.logo {
  top: 7px;
  display: flex;
  position: absolute;
  flex: 0 1 10vw;
  margin: 0;
  margin-top: 6.5vh;
  left: 50%;
  -ms-transform: translate(-90%, -90%);
  transform: translate(-50%, -50%);
  z-index: 4;
}

.logo:hover {
  src: url(public/images/cabin-rollover.svg) no-repeat;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.images {
  display: flex;
  z-index: 8;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* Footer Image
.campfire {
  display: flex;
  max-width: 50%;
  left: 90%;
  height: auto;
  /* margin: 0; */
/*transform: scale(0.6) z-index 4;
/* } 
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #09212d;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Index Page Column 1 Background*/
.column1 {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-blend-mode: hard-light;
  background-color: var(--brown);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

/* Index Page Logo */
.homepage-logo {
  text-align: center;
  font-family: "Rowdies", cursive;
  font-size: clamp(5rem, 12vw, 7.5rem);
  margin: 0;
  position: absolute;
  margin-top: 25vh;
  left: 50%;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 4;
}

.homepage-logo a {
  color: var(--white);
  text-decoration: none;
}

.homepage-logo a:hover {
  color: var(--warm-grey);
  text-decoration: none;
}

/* Index Page Tagline */
.tagline {
  text-align: center;
  font-family: "La Belle Aurore", cursive;
  font-weight: bold;
  line-height: 1.1em;
  font-size: clamp(1rem, 6vw, 2.5rem);
  margin: 0;
  position: absolute;
  margin-top: 37vh;
  color: var(--lime);
  left: 50%;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 4;
}

/* Footer */
.index-h5 {
  position: absolute;
  font-family: "Bebas Neue", cursive;
  font-size: clamp(0.8rem, 4vw, 1rem);
  font-weight: normal;
  color: var(--warm-grey);
  margin-top: 0vh;
  padding-bottom: 10px;
  padding-left: 15px;
  bottom: 0px;
  z-index: 5;
}

/* Index Page Stock Button */
.explore-button {
  outline: none !important;
  height: 50px;
  width: 225px;
  margin-top: 40vh;
  font-family: "Zilla Slab", serif;
  font-size: clamp(0.75rem, 4vw, 1.5rem);
  font-weight: bold;
  text-align: center;
  line-height: 1.1em;
  color: var(--brown);
  border: 0;
  border-radius: 100px;
  background-color: var(--bright-blue-green);
  padding: 12px 15px 10px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: absolute;
  left: 40%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.explore-button:hover {
  background-color: var(--blue-green-rovr);
  color: var(--brown);
  border: 0;
}

.login-button {
  outline: none !important;
  height: 50px;
  width: 225px;
  margin-top: 40vh;
  font-family: "Zilla Slab", serif;
  font-size: clamp(0.75rem, 4vw, 1.5rem);
  font-weight: bold;
  text-align: center;
  line-height: 1.1em;
  color: var(--brown);
  border: 0;
  border-radius: 100px;
  background-color: #ffc107;
  padding: 12px 15px 10px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: absolute;
  left: 30%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Index Page Crypto Button */
.share-button {
  outline: none !important;
  height: 50px;
  width: 225px;
  margin-top: 40vh;
  align-content: center;
  font-family: "Zilla Slab", serif;
  font-size: clamp(0.75rem, 4vw, 1.5rem);
  font-weight: bold;
  text-align: center;
  line-height: 1.1em;
  color: var(--brown);
  border: 0;
  border-radius: 100px;
  background-color: var(--blue);
  padding: 12px 15px 10px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: relative;
  left: 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.share-button:hover {
  background-color: var(--blue-rovr);
  color: var(--brown);
  border: 0;
}

footer {
  position: absolute;
  left: 0;
  width: 50%;
  text-align: left;
  background: none;
  z-index: 5;
}

/* Mobile Display Only */
.mobile {
  display: none;
}

/* Mobile Devices 420px and Under */
@media (max-width: 1050px) {
  .column {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .explore-button {
    width: 220px;
    font-size: 21px;
    align-content: center;
    left: 35%;
  }

  .share-button {
    width: 220px;
    font-size: 21px;
    align-content: center;
    margin-left: 25px;
  }
  /* Mobile Devices 540px and Under */
  @media (max-width: 640px) {
    .intro {
      display: none;
    }

    .homepage-logo {
      width: 100%;
    }

    .tagline {
      font-size: 38px;
      padding-top: 10px;
    }

    .explore-button {
      width: 120px;
      font-size: 21px;
      align-content: center;
      left: 35%;
    }

    .share-button {
      width: 120px;
      font-size: 21px;
      align-content: center;
      margin-left: 25px;
    }

    .center button {
      margin-top: 12px;
      padding-top: 8px;
      width: 111px;
      height: 50px;
      font-size: 21px;
      align-content: center;
      font-size: 14pt;
      line-height: 0.95em;
    }

    .footer {
      margin-left: -10px;
      margin-bottom: -10px;
    }

    /* Mobile Devices 280px and Under */
    @media (max-width: 280px) {
      .mobile {
        display: content;
      }

      .tagline {
        font-size: 24px;
        padding-top: 35px;
      }
    }
  }
}
